@charset "UTF-8";

#alert {
    font-size: 15pt;
    text-shadow: 1px 1px 4px rgba(0,0,0,.5);
    text-align: center;
    display: none; /* O alerta deve iniciar oculto */
    width: 100%;
    height: auto;
    overflow: hidden;
    position: fixed;
    z-index: 999999;
    padding: 10px 0;
    color: #fff;
    top: 0;
}

.alert-error {
    background-color: #e74c3c;
}

.alert-success {
    background-color: #2ecc71;
}